.leftall {
    overflow-y:scroll;
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: aliceblue;
}

.charts {
width:69%;
    height: 4000px;
    left: 400px;
    background-color: aliceblue;
    position: relative;
}

.selectone {
    margin-top: 20px;
}

.selecttwo {
    margin-top: 20px;
    margin-left: 10px;
}

.selectthree {
    margin-top: 20px;
}

.chartkind {
    width: 100px;
    height: 600px;
    left: 120px;
    top: 200px;
    position: absolute;
}

.pie {
    width: 800px;
    height: 700px;
    left: 250px;
    top: 10px;
    position: absolute;
}
.bar{
    width: 1000px;
    height: 700px;
    top: 700px;
    left: 50px;
    position: absolute;
}
.foryou{
    top: 1500px;
    left: 20px;
    position: absolute;
}
.btn-outline-success.selected1{
    background-color: #abf8ee;
}
.btn-outline-info.selected2{
    background-color: #86b2f1;
}
.btn-outline-primary.selected3{
    background-color: #f1f3da;
}
.cabt{
    font-size: 17px;
    margin-top: 4px;
}
.tabt{
    font-size: 17px;
    margin-top: 4px;
}
.choice{
    width: 100px;
}
#submit{
    margin-left: 10px;
}
#remove{
    margin-left: 10px;
}
.intr{
    width: 650px;
    height: 250px;
    left: 50px;
    top: -80px;
    position: relative;
}

a {
  text-decoration: none;
}
