<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
    <script src="https://cdn.staticfile.org/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.2.2/echarts.common.js"></script>
    <script src="../static/test.json"></script>
    <title>小说网站数据分析</title>
</head>

<body>
    <div class="leftall">
        <div class="accordion" id="accordionList">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        分类
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionList">
                    <div class="accordion-body">
                        <button type="button" class="btn btn-outline-success cabt" id="category0">东方玄幻</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category1">都市激战</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category2">异界大陆</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category3">时空快穿</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category4">历史穿越</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category5">古典仙侠</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category6">蜜爱甜宠</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category7">都市异能</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category8">末世危机</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category9">女尊女强</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category10">都市生活</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category11">架空历史</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category12">兽世王朝</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category13">总裁豪门</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category14">都市重生</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category15">游戏生涯</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category16">奇幻修真</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category17">年代种田</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category18">虚拟网游</button>
                        <button type="button" class="btn btn-outline-success cabt" id="category19">空间种田</button>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        标签
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionList">
                    <div class="accordion-body">
                        <button type="button" class="btn btn-outline-info tabt" id="tags0">热血</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags1">爽文</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags2">穿越</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags3">重生</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags4">玄幻</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags5">搞笑</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags6">系统</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags7">甜宠</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags8">都市</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags9">升级</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags10">美女</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags11">总裁</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags12">复仇</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags13">种田</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags14">扮猪吃虎</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags15">腹黑</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags16">虐恋</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags17">争霸</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags18">爱情</button>
                        <button type="button" class="btn btn-outline-info tabt" id="tags19">女强</button>
                    </div>
                </div>
            </div>

            <div class="selectone">
                <button type="button" class="btn btn-outline-primary num" id="method0">按照数量统计</button>
                <button type="button" class="btn btn-outline-primary cat" id="method1">按照分类统计</button>
                <button type="button" class="btn btn-outline-primary tag" id="method2">按照标签统计</button>
            </div>

            <div class="selecttwo">
                <form action="">作者：<br>
                    <input type="text" style="display: none;" />
                    <input type="text" id="author" placeholder="输入后请回车" size="40">
                </form>
                <div class="authors"></div>
                <form action="">偏好书籍：<br>
                    <input type="text" style="display: none;" />
                    <input type="text" id="like" placeholder="输入后请回车" size="40">
                </form>
                <div class="likes"></div>
            </div>

            <div class="selectthree">
                <button type="button" class="btn btn-outline-secondary" id="submit">提交</button>
                <button type="button" class="btn btn-outline-danger" id="remove">取消</button>
            </div>

        </div>
    </div>
    <script>//change buttons
        $('.btn-outline-success').click(function () { $(this).toggleClass('selected1') })//slect and change color
        $('.btn-outline-info').click(function () { $(this).toggleClass('selected2') })
        $('.num').click(function () { $(this).addClass('selected3'); $('.cat').removeClass('selected3'); $('.tag').removeClass('selected3'); })
        $('.cat').click(function () { $(this).addClass('selected3'); $('.num').removeClass('selected3'); $('.tag').removeClass('selected3'); })
        $('.tag').click(function () { $(this).addClass('selected3'); $('.cat').removeClass('selected3'); $('.num').removeClass('selected3'); })
        $('#remove').click(function () {
            $('.btn-outline-success').removeClass('selected1');
            $('.btn-outline-info').removeClass('selected2');
            $('.btn-outline-primary').removeClass('selected3');//remove all selections
        })
    </script>

    <div class="charts">
        <div class="chartkind">
            <button type="button" class="btn btn-outline-primary choice" id="total">总计</button>
            <button type="button" class="btn btn-outline-secondary choice" id="clicks">点击量</button>
            <button type="button" class="btn btn-outline-success choice" id="recommends">推荐量</button>
            <button type="button" class="btn btn-outline-danger choice" id="words">作品字数</button>
            <button type="button" class="btn btn-outline-warning choice" id="readers">读者数量</button>
            <button type="button" class="btn btn-outline-info choice" id="gifts">礼物数量</button>
        </div>
        <div class="pie" id="piechart">
        </div>
        <div class="bar" id="barchart">
        </div>
        <div class="foryou container">
            <div class="recommend" style="visibility: hidden;">
                <div class="row border border-primary my-3">
                    <div class="col text-center bg-primary rounded" style="border: 0;">
                        <h1 class="font-weight-normal ml-2 my-2 p-3 text-white maylike">你可能喜欢</h1>
                    </div>
                </div>
                <div class="recommend-contain">
                    <!--推荐的书放这里-->
                </div>

            </div>

            <script>//post to django
                $(document).ready(function () {
                    var token_csrf = "{{csrf_token}}";
                    var json_data = {
                        "category": [],
                        "tags": [],
                        "authors": [],
                        "likes": [],
                        "statisticalMethod": 0
                    }
                    var caon = [];
                    var taon = [];//to chick if the button is clicked
                    for (var i = 0; i < 20; i++) { caon[i] = 0; taon[i] = 0; }

                    for (let i = 0; i < 20; i++) {
                        $('#category' + i).click(function () {//选择分类
                            caon[i]++;
                            if (caon[i] % 2 == 1) json_data.category.push(i);
                            else json_data.category.splice(json_data.category.findIndex((value) => value == i), 1);
                        })
                    }

                    for (let i = 0; i < 20; i++) {
                        $('#tags' + i).click(function () {//选择标签
                            taon[i]++;
                            if (taon[i] % 2 == 1) json_data.tags.push(i);
                            else json_data.tags.splice(json_data.tags.findIndex((value) => value == i), 1);//选择分类
                        })
                    }

                    $('#method0').click(function () { json_data.statisticalMethod = 0; })//选择方式
                    $('#method1').click(function () { json_data.statisticalMethod = 1; })
                    $('#method2').click(function () { json_data.statisticalMethod = 2; })

                    $("#like").keypress(function (event) {
                        var templike = $("#like").val();
                        if (event.keyCode == 13) {
                            $(".likes").append("<input type='button' class='btn-outline-primary tl' style='font-size: 17px; margin-top: 4px; margin-left:10px'>");//添加偏好
                            $(".tl:last-child").val(templike);
                            json_data.likes.push(templike);
                        }
                    })
                    $(".likes").delegate(".tl","mouseenter",function(){$(this).addClass("btn-outline-danger");})
                    $(".likes").delegate(".tl","mouseleave",function(){$(this).removeClass("btn-outline-danger");})
                    $(".likes").delegate(".tl", "click", function () { var tempdelete = $(this).val(); $(this).remove(); json_data.likes.splice(json_data.likes.findIndex((value) => value == tempdelete), 1); })//点击删除

                    $("#author").keypress(function (event) {
                        var templike = $("#author").val();
                        if (event.keyCode == 13) {
                            $(".authors").append("<input type='button' class='btn-outline-info al' style='font-size: 17px; margin-top: 4px; margin-left:10px'>");//添加偏好
                            $(".al:last-child").val(templike);
                            json_data.authors.push(templike);
                        }
                    })
                    $(".authors").delegate(".al","mouseenter",function(){$(this).addClass("btn-outline-danger");})
                    $(".authors").delegate(".al","mouseleave",function(){$(this).removeClass("btn-outline-danger");})
                    $(".authors").delegate(".al", "click", function () { var tempdelete = $(this).val(); $(this).remove(); json_data.authors.splice(json_data.authors.findIndex((value) => value == tempdelete), 1); })//点击删除

                    $('#remove').click(function () {//取消选择
                        for (var i = 0; i < 20; i++) { caon[i] = 0; taon[i] = 0; }
                        json_data.category.splice(0, json_data.category.length);
                        json_data.tags.splice(0, json_data.tags.length);
                        json_data.statisticalMethod = 0;
                        json_data.likes.splice(0, json_data.likes.length);
                        $(".tl").remove();
                        json_data.authors.splice(0, json_data.authors.length);
                        $(".al").remove();
                    })
                    var myChart = echarts.init(document.getElementById('piechart'));
                    var myChart1 = echarts.init(document.getElementById('barchart'));

                    $('#submit').click(function () {//提交
                        var postdata = JSON.stringify(json_data);
                        console.log(postdata);
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            headers: { "X-CSRFToken": token_csrf },
                            url: "/request/posttest",
                            dataType: "json",
                            data: postdata,
                            success: function (data) {
                                console.log(data);
                                var showdata = data.pieChart_Total;
                                //饼状图
                                myChart.setOption({
                                    series: [{
                                        name: '分类',
                                        type: 'pie',
                                        radius: '60%',
                                        data: showdata,
                                        roseType: 'angle',
                                        label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } },
                                    }]
                                });
                                $('#total').click(function () {
                                    showdata = data.pieChart_Total; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });
                                $('#clicks').click(function () {
                                    showdata = data.pieChart_Clicks; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });
                                $('#recommends').click(function () {
                                    showdata = data.pieChart_Recommedations; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });
                                $('#words').click(function () {
                                    showdata = data.pieChart_WordCount; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });
                                $('#readers').click(function () {
                                    showdata = data.pieChart_ReaderCount; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });
                                $('#gifts').click(function () {
                                    showdata = data.pieChart_GiftCount; myChart.setOption({
                                        series: [{
                                            name: '分类', type: 'pie', radius: '60%', data: showdata,
                                            roseType: 'angle', label: { normal: { show: true, formatter: '{b}: {c}({d}%)' } }
                                        }]
                                    });
                                });

                                //柱状图
                                myChart1.setOption({
                                    xAxis: {
                                        axisLabel: {
                                            interval: 0,
                                            rotate: -20,
                                        },
                                        data: data.barChart_novals
                                    },
                                    yAxis: {},
                                    tooltip: {
                                        trigger: 'item',
                                        triggerOn: 'click',
                                        formatter: function (arg) {
                                            console.log("test novel name")
                                            console.log(arg)
                                            return '《' + arg.name + '》的点击量是：' + arg.data
                                        }
                                    },
                                    series: [{
                                        type: 'bar',
                                        data: data.barChart_clicks,
                                        color: 'blue',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    var colorList = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#00A3E0', '#FFA100', '#ffc0cb', '#CCCCCC', '#BBFFAA', '#749f83', '#ca8622'];
                                                    return colorList[params.dataIndex]
                                                }
                                            }
                                        }
                                    }],
                                });
                                //推荐小说

                                //显示表
                                var bookdata = data.recommend_books;
                                console.log(bookdata)
                                if (bookdata.length != 0) $(".recommend").css("visibility", "");
                                console.log(bookdata);
                                $('.recommend-contain').empty();
                                for (var i = 0; i < bookdata.length; i++) {
                                    var pic = bookdata[i].pic_url;
                                    var tit = bookdata[i].title;
                                    var intr = bookdata[i].introduce;
                                    var auth = bookdata[i].author;
                                    var hyper = bookdata[i].hyperlink;
                                    var categ = bookdata[i].category;
                                    var updat = bookdata[i].update_time;
                                    var words = bookdata[i].wordcount;

                                    var novel = ".novel" + i;
                                    var htmlContent = `
                                    <div class="row border border-primary my-3 p-3 rounded">
                                        <div class="col innovel">
                                            <div class="novel${i}">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img class="img" src="${pic}" alt="unknow" width="240px" height="300px">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <a class="h3" target="_blank" href="${hyper}">《${tit}》</a><br>
                                                            <div class="author">
                                                                <h5>作者：<span>${auth}</span></h5>
                                                            </div>
                                                            <div>
                                                                <h5>作品简介：</h5>
                                                                <p>${intr}</p>
                                                            </div>
                                                            <div class="other">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <h5>分类：<span>${categ}</span></h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <h5>更新时间：<span>${updat}</span></h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <h5>总字数：<span>${words}</span></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     `;
                                    $('.recommend-contain').append(htmlContent);
                                }
                            }
                        });
                    })
                });
            </script>
        </div>

</body>

</html>